@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blinkWarning {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

.blink-warning {
  animation: blinkWarning 2.0s infinite ease-in-out;
}


@keyframes slide-out-left {
  0% { transform: translateX(0); opacity: 1; }
  100% { transform: translateX(-100%); opacity: 0; }
}

/* Slide new in from right */
@keyframes slide-in-right {
  0% { transform: translateX(100%); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

/* Slide current out to right */
@keyframes slide-out-right {
  0% { transform: translateX(0); opacity: 1; }
  100% { transform: translateX(100%); opacity: 0; }
}

/* Slide new in from left */
@keyframes slide-in-left {
  0% { transform: translateX(-100%); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

.animate-out-left { animation: slide-out-left 0.35s ease forwards; }
.animate-in-right { animation: slide-in-right 0.35s ease forwards; }

.animate-out-right { animation: slide-out-right 0.35s ease forwards; }
.animate-in-left { animation: slide-in-left 0.35s ease forwards; }


@keyframes spinSlow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spinSlow 1.4s linear infinite;
}

/* Tell browser this input supports dark + light */
input[type="date"] {
  color-scheme: light dark;
  background-color: var(--color-background);
  color: var(--color-text);
}


input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}


/* Hover effect for better UX */
input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}

@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-dropdown {
  animation: dropdown 180ms ease-out;
}

@keyframes pulseArrow {
  0%, 100% {
    transform: translateY(0);
    opacity: 0.6;
  }
  50% {
    transform: translateY(6px);
    opacity: 1;
  }
}

.animate-pulse-arrow {
  animation: pulseArrow 1.4s ease-in-out infinite;
}


