@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blinkWarning {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

.blink-warning {
  animation: blinkWarning 2.0s infinite ease-in-out;
}